.DS_Store
__pycache__
*.pyc
*.zip
*.json
.idea/
tests/.cache/v/cache/lastfailed
.cache/v/cache/lastfailed
.vscode/

project_papers/performance_analysis/*.aux
project_papers/performance_analysis/*.log
project_papers/performance_analysis/*.pdf
project_papers/performance_analysis/*.gz
project_papers/performance_analysis/*.toc
project_papers/performance_analysis/*.bbl
project_papers/performance_analysis/*.blg
project_papers/performance_analysis/sections/*.aux
project_papers/performance_analysis/sections/*.log
project_papers/performance_analysis/sections/*.pdf
project_papers/performance_analysis/sections/*.gz
project_papers/performance_analysis/sections/*.toc

project_papers/research_review/*.aux
project_papers/research_review/*.log
project_papers/research_review/*.pdf
project_papers/research_review/*.gz
project_papers/research_review/*.toc
project_papers/research_review/*.bbl
project_papers/research_review/*.blg
project_papers/research_review/sections/*.aux
project_papers/research_review/sections/*.log
project_papers/research_review/sections/*.pdf
project_papers/research_review/sections/*.gz
project_papers/research_review/sections/*.toc